.DS_Store
scheduled_tasks.lock
__pycache__/
*.pyc
compiler/pio-rp2040/.pio/
compiler/pio-esp32/.pio/
compiler/pio-esp32s3/.pio/
compiler/pio-esp32c3/.pio/
compiler/pio-esp8266/.pio/
node_modules/
web/dist/
test-results/
playwright-report/
tests/usecases/results/
